/* Fonte */
body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
     background-color: #2b3647; /* Cor de fundo */
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal.active {
    display: block;
}

/* Cabeçalho */
header {
    background-color: #2C3E50;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    position: sticky;
    top: 0;
    z-index: 1000;
    max-width: 100%
}

header .logo {
    width: 50px;
}

header .icon {
    margin: 0 10px;
}

header button {
    background: none;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    max-width: 100%
    
}

header .button-icon {
    width: 30px;
    height: 30px;
}

header button:hover {
    background-color: #34495E;
    border-radius: 5px;
    padding: 5px;
}

/* Estilos gerais para as seções */
section {
    display: none;
    padding: 20px;
    background-color: #ecf0f1;
    margin-top: 60px;
    border-radius: 5px;
}

section.active {
    display: block;
}

section h1, section h2, section h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p, section ul {
    font-size: 1.1em;
    line-height: 1.6;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}


/* Formulário de Atendimento */
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input, .form-container textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.form-container button {
    padding: 10px;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #34495E;
}

/* Estilo para as notificações */
input[type="checkbox"] {
    margin-right: 10px;
}

h3 {
    margin-top: 30px;
}

ul li {
    margin-bottom: 10px;
}

/* Efeitos de fade-in */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* Personalização de links */
a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para os perfis */
.profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 250px;
}

.profile img {
    width: 100%;
    border-radius: 5px;
}

.profile-description {
    text-align: center;
    margin-top: 10px;
}

.profile-description p {
    font-size: 1.1em;
}

.rating {
    margin-top: 10px;
    font-size: 1.5em;
}

.rating span {
    margin-right: 5px;
}

/* Estilo para as listas */
ul li {
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    
    header button {
        margin-bottom: 10px;
    }

    .profiles {
        flex-direction: column;
        align-items: center;
    }

    .form-container {
        width: 100%;
    }
}
